@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Russo+One');
@font-face {
  font-family: 'Jedi';
  src: url('../../images/font/Starjedi.ttf') format('truetype');
}

.menu-container {
  display: flex;
  z-index: 99;
  justify-content: space-between;
}

.circle-menu {
  background: rgb(0, 0, 0);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-out;
  overflow: hidden;
  padding: 8px;
}

.circle-menu:hover {
  background: rgba(97, 97, 97, 0.8);
}

.circle-menu ul {
  list-style: none;
  display: flex;
  margin-left: 50px;
  width: 100%;
  font-size: 28px;
  color: black;
  transition: all 0.3s linear;
}

.link {
  margin-left: 50px;
  cursor: pointer;
  color: white; 
  text-decoration: none; 
}

.link::visited {
  color: white; 
}

.wing {
  height: 10px;
  width: 60px;
  background: gray;
  position: absolute;
  transition: all 0.3s ease-out;
  left: 28px;
}

.wing-tip {
  height: 10px;
  width: 10px;
  background: gray;
  position: absolute;
  transition: all 0.3s ease;
  transform: translate(0, 20px)
}

.wing-tip1, .wing-tip2 {
  left: 26px;
  top: 48px
}

.wing-tip3, .wing-tip4 {
  left: 81px;
  top: 48px;
}

.open .wing1 {
  transform: rotate(30deg);
}

.open .wing2 {
  transform: rotate(-30deg);
}

.open .wing-tip {
  height: 15px;
}

.open .wing-tip1 {
  transform: rotate(30deg) translate(-2.5px, -0.5px);
}

.open .wing-tip2 {
  transform: rotate(-30deg) translate(-20px, 26px)
}

.open .wing-tip3 {
  transform: rotate(-30deg) translate(0.5px, -0.5px)
}

.open .wing-tip4 {
  transform: rotate(30deg) translate(19px, 27px);
}

.open {
  width: 800px;
  border-radius: 20px;
}

.open ul {
  color: white;
}

.open ul span {
  margin-left: 10px;
  border-radius: 50%;
  width: 34px;
  color: #feda4a;
  background: gray;
}

.bar {
  width: 65px;
  left: 25.5px;
  display: initial;
  transition: all 0.3s ease;
}

.open .bar {
  transform: translate(0);
  display: none;
}

.bar1 {
  transform: translate(0, 20px)
}

.bar2 {
  transform: translate(0, -20px)
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 45px;
  font-family: 'Jedi', Russo One, arial, sans-serif;
  animation: glowLogo 2.7s alternate infinite linear;
  letter-spacing: 2px;
  cursor: pointer;
  padding-right: 35px;
  position: relative;
  bottom: 15px;
  transition-duration: 0.3s;

  &:hover {
    transform: scale(1.05);
    transition-duration: 0.3s;
  }
}

#logo-container {
  all: unset; 
}

@keyframes glowLogo {
  0%   {
    text-shadow:
    -1px -1px 0 blue,
    1px -1px 0 blue,
    -1px 1px 0 blue,
    1px 1px 0 blue;
  }
  25% {
    text-shadow:
    -1px -1px 0 rgb(94, 94, 245),
    1px -1px 0 rgb(174, 174, 248),
    -1px 1px 0 rgb(116, 116, 243),
    1px 1px 0 rgb(77, 77, 255);
  }
  50% {
    text-shadow:
    -1px -1px 0 rgb(125, 255, 194),
    1px -1px 0 rgb(125, 255, 194),
    -1px 1px 0 rgb(125, 255, 194),
    1px 1px 0 rgb(125, 255, 194);
  }
  75% {
    text-shadow:
    -1px -1px 0 rgb(255, 255, 55),
    1px -1px 0 rgb(255, 255, 55),
    -1px 1px 0 rgb(255, 255, 55),
    1px 1px 0 rgb(255, 255, 55);
  }
  83% {
    text-shadow:
    -1px -1px 0 rgb(255, 115, 0),
    1px -1px 0 rgb(255, 115, 0),
    -1px 1px 0 rgb(255, 115, 0),
    1px 1px 0 rgb(255, 115, 0);
  }
  100% {
    text-shadow:
    -1px -1px 0 rgb(255, 0, 0),
    1px -1px 0 red,
    -1px 1px 0 red,
    1px 1px 0 red;
  }
 }

@media only screen and (max-width: 1140px) {
  .menu-container {
    display: block;
  }
}

@media only screen and (max-width: 820px) {
  .open {
    width: 300px;
  }
  .logo {
    padding: 0;
  }
  .link {
    font-size: 15px;
    margin: 0;
    padding: 0;
    width: 50%;
    margin: 5px 0 5px 90px;
  }
  .ul {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
  }
  .favorites-ctr {
    font-size: 14px;
    margin: 0;
    padding: 0;
    width: 5px;
    display: inline;
    float: left;
  }
}