@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Russo+One');
@font-face {
  font-family: 'Jedi';
  src: url('../../images/font/Starjedi.ttf') format('truetype');
}

.menu-container {
  display: flex;
  z-index: 99;
  justify-content: space-between;
}

.circle-menu {
  background: rgb(0, 0, 0);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-out;
  overflow: hidden;
  padding: 8px;
}

.circle-menu:hover {
  background: rgba(70, 70, 70, 0.8);
}

.circle-menu ul {
  list-style: none;
  display: flex;
  margin-left: 50px;
  width: 100%;
  font-size: 28px;
  color: black;
  transition: all 0.3s linear;
}

.link {
  margin-left: 50px;
  cursor: pointer;
  color: white; 
  text-decoration: none; 
}

.link::visited {
  color: white; 
}

.wing {
  height: 10px;
  width: 60px;
  background: gray;
  position: absolute;
  transition: all 0.3s ease-out;
  left: 28px;
}

.wing-tip {
  height: 10px;
  width: 10px;
  background: gray;
  position: absolute;
  transition: all 0.3s ease;
  transform: translate(0, 20px)
}

.wing-tip1, .wing-tip2 {
  left: 26px;
  top: 48px
}

.wing-tip3, .wing-tip4 {
  left: 81px;
  top: 48px;
}

.open .wing1 {
  transform: rotate(30deg);
}

.open .wing2 {
  transform: rotate(-30deg);
}

.open .wing-tip {
  height: 15px;
}

.open .wing-tip1 {
  transform: rotate(30deg) translate(-2.5px, -0.5px);
}

.open .wing-tip2 {
  transform: rotate(-30deg) translate(-20px, 26px)
}

.open .wing-tip3 {
  transform: rotate(-30deg) translate(0.5px, -0.5px)
}

.open .wing-tip4 {
  transform: rotate(30deg) translate(19px, 27px);
}

.open {
  width: 850px;
  border-radius: 20px;
}

.open ul {
  color: white;
}

.open ul span {
  margin-left: 10px;
  border-radius: 50%;
  width: 34px;
  color: #feda4a;
  background: gray;
}

.bar {
  width: 65px;
  left: 25.5px;
  display: initial;
  transition: all 0.3s ease;
}

.open .bar {
  transform: translate(0);
  display: none;
}

.bar1 {
  transform: translate(0, 20px)
}

.bar2 {
  transform: translate(0, -20px)
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Jedi', Russo One, arial, sans-serif;
  // animation: glowLogo .7s alternate linear infinite;
  letter-spacing: 2px;
  cursor: pointer;
}

#logo-container {
  all: unset; 
}

@keyframes glowLogo {
  0%   {
    text-shadow:
    -2px -2px 0 rgb(255, 255, 185),
    2px -2px 0 rgb(255, 255, 185),
    -2px 2px 0 rgb(255, 255, 185),
    2px 2px 0 rgb(255, 255, 185);
  }
  25% {
    text-shadow:
    -2px -2px 0 rgb(255, 255, 185),
    2px -2px 0 rgb(255, 255, 185),
    -2px 2px 0 rgb(255, 255, 185),
    2px 2px 0 rgb(255, 255, 185);
  }
  50% {
    text-shadow:
    -2px -2px 0 rgb(255, 255, 125),
    2px -2px 0 rgb(255, 255, 125),
    -2px 2px 0 rgb(255, 255, 125),
    2px 2px 0 rgb(255, 255, 125);
  }
  75% {
    text-shadow:
    -2px -2px 0 rgb(255, 255, 55),
    2px -2px 0 rgb(255, 255, 55),
    -2px 2px 0 rgb(255, 255, 55),
    2px 2px 0 rgb(255, 255, 55);
  }
  100% {
    text-shadow:
    -2px -2px 0 yellow,
    2px -2px 0 yellow,
    -2px 2px 0 yellow,
    2px 2px 0 yellow;
  }
 }